.header {
  background-image: url('../../../../public/assets/header/yankibg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url('../../../../public/assets/header/yankibg2.png'); 
    background-position:50% 0;  
    background-size:cover;
    background-repeat: no-repeat;
  }
}

.link:hover svg path{
  fill: #E0BEA2;
}
